<div class="container-fluid">
    <div class="card mt-2 w-100">
        
        <div class="card-body">
            <div class="row">
                <div id="selection" class="card-columns" style="width: 100%;">

                    {{#each images}}

                    <div class="card p-2">
                        <div class="info pointer position-relative">
                            <img src="/public/upload/mark/{{filename}}" loading="lazy" alt=""
                                class="img-thumbnail card-img-top">
                            <div class="position-absolute black-transparent info-hover" name="figure"
                                data="{{filename}}"></div>
                            <h5 class="position-absolute info-text info-hover">{{title}}</h5>
                            <div data="{{_id}}" name="like" class="position-absolute like-icon info-hover"></div>
                            <div class="position-absolute like-count info-hover">{{likes}}</div>
                        </div>
                    </div>

                    {{>image-modal}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/imageScript.js"></script>