<div id="image-modal" class="modal">
    <div class="content-modal">
        <div id="close" class="close" onclick="closeImgModal(this)">&times;</div>
        <div class="row ">
            <div class="col-8 text-center">
                <img id="image-preview" class="img-thumbnail" style="height: -webkit-fill-available;"
                    src="/public/upload/mark/{{filename}}"></img>
            </div>
            <div class="col-4 mt-5">
                <div class="form-group d-flex justify-content-around">
                    <h1>{{title}}</h1>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <h3></h3>
                    <h3>{{description}}</h3>
                </div>
                <div class="form-group d-flex justify-content-around">
                    <h3>Subido</h3>
                    <h3>{{timeago timestamp}}</h3>
                </div>
                <div class="d-flex justify-content-around">
                    <form id="form-payment-image" action="/image/payment/{{_id}}" method="GET">
                        <div class="form-group">
                            <button type="submit" id="btn-data" data="{{_id}}" class="btn btn-success">Comprar</button>
                        </div>
                    </form>

                    <h3>{{unitAmount price}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>