<div id="image-modal" class="modal">
    <div class="content-modal">
        <div id="close" class="close" onclick="closeImgModal(this)">&times;</div>
        <div class="card">

            <img id="image-preview" class="card-img-top" src="/public/upload/mark/{{filename}}"></img>

            <div class="card-body">
                <div class="card-title">
                    <h4 class="text-capitalize">{{title}}</h4>
                </div>
                <div class="card-text">
                    <p>{{description}}</p>
                </div>
                <div class="card-text">
                    <form  action="/image/payment/{{_id}}" method="GET">
                        <div class="form-group">
                            <button type="submit" data="{{_id}}" class="btn btn-success">Comprar
                                {{unitAmount price}}$</button>
                        </div>
                    </form>
                </div>
                <small>Subido: {{timeago timestamp}}</small>
            </div>
        </div>
    </div>
</div>