<div class="row">
    <div id="video-selection" class="card-columns" style="width: 100%;">
        {{#each videos}}
        <div class="card p-1">
            <div class=" info pointer position-relative">
                <img src="/public/upload/video-miniature/{{miniature}}.png" loading="lazy" alt="" class="card-img-top">
                <div class="position-absolute black-transparent info-hover" name="figure" data="{{miniature}}">
                </div>
                <span class="time">{{min}}:{{seg}}</span>
                <h5 class="position-absolute info-text text-truncate info-hover" style="max-width: 50%;">
                    {{title}}</h5>
                {{#if ../user}}
                {{#if status}}
                <div data="{{_id}}" name="like" class="position-absolute like-icon liked info-hover"></div>
                {{else}}
                <div data="{{_id}}" name="like" class="position-absolute like-icon unlike info-hover"></div>
                {{/if}}
                {{else}}
                <div class="position-absolute like-icon unlike info-hover"></div>
                {{/if}}
                <div class="position-absolute like-count info-hover">{{likes}}</div>
            </div>

            {{#if ../user}}
            {{#if soldid}}
            <a href="/download/{{soldid}}" class="btn btn-success position-absolute"
                style="bottom:10px;left:10px;">Descargar</a>
            {{/if}}
            {{/if}}
        </div>
        {{> modal-video}}
        {{/each}}
    </div>
</div>